{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <title>Linguist</title>
  </head>
</html>


<!-- <html>
    <head>
        <title>Abhya Tripathi|Developer</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <nav>
<ul id='navbar'>
  <li><a href="#welcome-section">About</a></li>
  <li><a href="#projects">Work</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
</nav>

<div id="welcome-section" class="intro">

<h1>Hey i'am Mimic.</h1>
<p>a web developer</p> -->
